<!DOCTYPE html>
<meta http-equiv="Content-Type" content ="charset=UTF-8"/>
<html>
  <head>
    <title>Magic Button Testing</title>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='/main.css' rel='stylesheet' type='text/css'/>
  </head>

  <body onload="document.hy.cmd.focus()">
    <div id="page">
      <div id="content"  <!-- begin content -->
        <div id="header">
          <form id="up" name="up" action="<%=@site%>/nh_sched" method="post" enctype="multipart/form-data">
          <center>

          CSV File with content and timings to Upload and Send to the Scheduler

            <input type="file" id="act" name="file" value="C:\Outgoing.csv"/>
            <input type="submit" value="Upload CSV"/>
          </center>
          </form>
        </div>
        <h3> <%= @label %>   </h3>
        <div id="reply">
            <% @d = "" %>
            <% @foo.each { |hash| 
               @d += '<li>'
               @d = @d + 
                      addPhone(hash) +
                      addPhoneStatus(hash) + 
                      addSMS(hash) + 
                      addKyronLink(hash) + 'Patient ' + 
                      ifPresentThenShow(hash, 'Patient Name') + ' at: ' +
                      ifPresentThenShow(hash, 'Mobile No') + 'with CC ' + 
                      ifPresentThenShow(hash, 'Relationship') + '= ' +
                      ifPresentThenShow(hash, 'PrimaryCC') + ' at: ' +
                      ifPresentThenShow(hash, 'CCphone') + ' ' + '(speaks ' +
                      ifPresentThenShow(hash, 'Language') + ')' +
                      addCircle(hash) +
                      addUpToDateLink(hash['search_string']) + 
                      addAHALink(hash['search_string']) + 
                      addGuidelinesLink(hash['search_string']) + 
                      addWikipediaLink(hash['search_string']) + 
                      addPubMedLink(hash['search_string'])
               @d += '</li>'  } %>
        
          <ol>   <%= @d %>   </ol>
        </div>
        
      </div>  <!-- end content div -->
    </div>  <!-- end page div -->
  </body>
</html>

