     body {
        font-family: "Rock Salt", cursive;
        font-size: 12; color: #555;
      }
      a {color: #039} a:hover {color: #00f}
      #page {
        margin-left: 10px; margin-right: 10px;
      }
      #content {
        margin-left: 5px; margin-right: 5px; margin-top: 4px;
        padding: 2px;
      }
      #hy {
        margin-right: 200px;
      }
      #header {
        margin-left: 1px; margin-right: 1px; margin-top: 1px;
        border: 3px solid #bbc;
        padding: 18px;

        background-image: url("images/smalllogo.png");
        background-position: top right; background-repeat: no-repeat;
      }
      #resources {
        text-align: right;
      }
      #reply {
        padding: 15px;
      }
      #act {
        width: 45%;
        font-family: courier; color: #24f;
      }
      #query {
        text-align: left;
      }
      #hypothesis {
        text-align: right;
      }

      
      .time{
        font-family: courier;
      }
      .highlight{
        background-color: #FF8;
      }

      .title{
        font-style: oblique;
        font-weight: 800;
      }
      .number{
        color: #FB0;
      }
      .id{
        color: #F00;
      }
      .visitId{
        color: #F0F;
      }

